body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: url('../images/pizza32.jpg');
}    

.cabecalho{
    display: flex;
    color: white;
    justify-content: center;
}

.logo{
    padding: 5px;
}

#menu-superior{
    display: flex;
    background-color: darkgreen;
    color: white;
    justify-content: center;
}

#menu-superior li{
    list-style: none;
    display: inline;
    padding-right: 20px;
   
}

#menu-superior a{
    color: white;
    text-decoration: none;
    text-align: center;
}

#menu-superior a:hover{
    color: darkgray;
    
}

.img-principal{
    text-align: center;
    margin-top: 10px;
}

.cardapios{
    text-align: center;
    background-color: darkgreen;
    color: white;
    padding: 1px;
    margin-top: 10px;
}

.container{
    display: grid;
    grid-template: auto auto auto / auto auto auto;
    justify-content: stretch;
    grid-column-gap: 40px;
    text-align: center;
    margin: 20px;
    color: white;
}

.container h3{
    background-color: darkgreen;
   
}
.salgadas{
    background-color: rgba(0, 0, 0, 0.2);
}

.doces{
    background-color: rgba(0, 0, 0, 0.2);
    
}

.rodizio{
    background-color: rgba(0, 0, 0, 0.2);
}

.footer{
    display: flex;
    justify-content: center;
    color: white;
    background-color: darkgreen;
}

.menu-footer ul{
    text-align: center;
    padding-right: 10px;

}

.menu-footer li{
    display: inline;
    padding-right: 20px;
}

.menu-footer a{
    text-decoration: none;
    color: white;
    
}

.menu-footer a:hover{
    color: darkgray;
}

.menu-footer p{
    font-size: 0.8rem;
    text-align: center;
}