body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: url('../images/pizza32.jpg');
}    

.cabecalho{
    display: flex;
    color: white;
    justify-content: center;
}

/* .menu-sup{
    background-color: black;
    color: white;
    padding: 1px;
} */

.logo{

    padding: 5px;
}

#menu-superior{
    display: flex;
    background-color: darkgreen;
    color: white;
    justify-content: center;
}

#menu-superior li{
    list-style: none;
    display: inline;
    padding-right: 20px;
   
}

#menu-superior a{
    color: white;
    text-decoration: none;
    text-align: center;
}

#menu-superior a:hover{
    color: darkgray;
    
}

.img-principal{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.cardapios{
    text-align: center;
    background-color: darkgreen;
    color: white;
   /*  padding: 1px; */
    margin-top: 10px;
}

.container{
    display: grid;
    grid-template: auto auto auto / auto auto auto;
    justify-content: stretch;
    grid-column-gap: 40px;
    text-align: center;
    margin: 20px;
    color: white;
}

.container h3{
    background-color: darkgreen;
   
}

.salgadas{
    background-color: rgba(0, 0, 0, 0.2);
    transition: background-color 500ms ease-out, padding 800ms;
    border-radius: 5px;
}

.salgadas:hover{
    background-color: white;
}

.doces{
    background-color: rgba(0, 0, 0, 0.2);
    transition: background-color 500ms ease-out, padding 800ms;
    border-radius: 5px;
}

.doces:hover{
    background-color: white;
}

.rodizio{
    background-color: rgba(0, 0, 0, 0.2);
    transition: background-color 500ms ease-out, padding 800ms;
    border-radius: 5px;
}

.rodizio:hover{
    background-color: white;
}

.container2{
    display: grid;
    color: white;
    grid-template: auto auto / auto auto;
    justify-content: space-around;
}

.localizacao{
    background-color: darkgreen;
    margin-bottom: 10px;
}

.localizacao h3{
    background-color: darkgreen;
    text-align: center;
    
}

.pedido{
    background-color: darkgreen;
    margin-bottom: 10px;
    width: 500px;
    height: 300px;
    text-align: center;
    border-radius: 10px;
    transition: background-color 500ms ease-out, padding 800ms;
}

.pedido h3{
    background-color: darkgreen;
    text-align: center;
}

#botao-pedido:hover{
    background-color: green;
    color: white;
}

.footer{
    display: flex;
    justify-content: center;
    color: white;
    background-color: darkgreen;
}

.menu-footer ul{
    text-align: center;
    padding-right: 10px;

}

.menu-footer li{
    display: inline;
    padding-right: 20px;
}

.menu-footer a{
    text-decoration: none;
    color: white;
    
}

.menu-footer a:hover{
    color: darkgray;
}

.menu-footer p{
    font-size: 0.8rem;
    text-align: center;
}